.liquid-container {

    .podium-page {

        width: 1920px;
        height: 1080px;

        // background: rgb(240, 243, 68);

        background-image: url('../files/tdf-media-wall-v0.4/tdf-media-wall-v0.4.005.jpeg')
    }

}