.liquid-container {

    .riderprofile-page {

        width: 1920px;
        height: 1080px;

        // background: rgb(47, 76, 240);

    }

    .image006 {
        background-image: url('../files/tdf-media-wall-v0.4/tdf-media-wall-v0.4.006.jpeg')
    }

    .image007 {
        background-image: url('../files/tdf-media-wall-v0.4/tdf-media-wall-v0.4.007.jpeg')
    }

    .image008 {
        background-image: url('../files/tdf-media-wall-v0.4/tdf-media-wall-v0.4.008.jpeg')
    }

    .image013 {
        background-image: url('../files/tdf-media-wall-v0.4/tdf-media-wall-v0.4.013.jpeg')
    }

}