.liquid-container {

    .title-page {

        width: 1920px;
        height: 1080px;

        // background: rgb(221, 11, 11);

        z-index: 10;

        background-image: url('../files/tdf-media-wall-v0.4/tdf-media-wall-v0.4.002.jpeg');

        .text {
            font-family: 'Galibier18';
            font-size: 60px;
            font-weight: Bold;
            letter-spacing: 1px;
            color: #01205e;
            transform: rotate(-18deg);
            position: absolute;
            top: 150px;
            left: 150px;
        }

        .sub-text-small {
            font-family: 'Galibier18';
            font-size: 45px;
            font-weight: lighter;
            letter-spacing: 1px;
            color: #ffffff;
            transform: rotate(-18deg);
            position: absolute;
            top: 552px;
            left: 270px;
        }

        .sub-text-large {
            font-family: 'Galibier18';
            font-size: 145px;
            font-weight: Regular;
            letter-spacing: 1px;
            color: #ffffff;
            transform: rotate(-18deg);
            position: absolute;
            top: 482px;
            left: 257px;
        }

    }

}